@keyframes pulsate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.1);
    opacity: 0.2;
  }
}

.about {
  background-color: #0a2850;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

.about__circle {
  width: 426px;
  height: 426px;
  background-color: #2f80ed;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
  z-index: 0;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}
.about__content {
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  color: white;
  margin-top: 119px;
  margin-right: 80px;
  margin-bottom: 173px;
}
.about__title {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: white;
  margin-top: 100px;
  margin-left: 80px;
  max-width: 251px;
}

.about__paragraph {
  font-family: "noto Serif";
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 20px;
  max-width: 660px;
}

.about__paragraph:last-of-type {
  margin: 0;
}

.about__title,
.about__content {
  position: relative;
  z-index: 1;
}
