.header {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 30px 40px;
  position: relative;
  box-sizing: border-box;
  background: #fff url("../images/background_header.svg") no-repeat center/cover;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
  margin: 0;
}

.header__title {
  margin-top: 183px;
  margin-bottom: 28px;
  max-width: 729px;
}

.header__span-accent {
  font-family: "Noto Serif", Times, serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__title_main {
  margin: auto;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__description {
  margin-top: 28px;
  font-family: "Noto Serif", Times, serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
}

.header__footer {
  z-index: 1;
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  color: #838383;
  box-sizing: border-box;
}

.header__footer-column {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header__footer_address {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
