.menu {
  margin: auto;
  height: 100vh;
  background-color: white;
  background-image: url(../images/background_menu.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.menu__title {
  margin: 100px auto;
  max-width: 780px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  margin: 24px auto;
  max-width: 720px;
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  align-self: center;
}

.menu__cards {
  margin: 100px auto;
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
}

.card {
  list-style-type: none;
  width: 540px;
  display: flex;
  flex-direction: column;
}

.card:nth-of-type(2) {
  margin-right: 100px;
}

.card__title {
  font-family: "Inter";
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
}

.card__list_item {
  font-family: "Noto Serif";
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card__list-divider {
  border-bottom: 1px solid black;
  flex-grow: 1;
}
