.page {
  min-width: 1600px;
  max-width: 1100px;
  align-self: center;
  font-family: inter, Ariel, sans-serif;
  line-height: 20px;
  font-size: 16px;
  margin: 0;
}

.header {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background: #fff url("../images/background_header.svg") no-repeat center/cover;
  /* background-image: url(../images/background_header.svg);
  background-position: center/cover;
  background-repeat: no-repeat;
  background-size: cover; */
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 80px;
}

.nav__logo {
  width: 105px;
  height: 39px;
}

.nav__links {
  list-style: none;
  margin: 8px 0 0;
  display: flex;
  column-gap: 20px;
  padding: 0;
  font-weight: 500;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
  margin: 0;
}

.header__title {
  margin-top: 183px;
  margin-bottom: 28px;
  margin-left: 80px;
  max-width: 729px;
}

.header__span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__title_main {
  margin: auto;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__description {
  margin-left: 80px;
  margin-top: 28px;
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
}

.header__footer {
  z-index: 1;
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-family: "Inter";
  font-weight: 500;
  color: #838383;
  box-sizing: border-box;
}

.header__footer__column {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.header__footer__column:nth-of-type(2) {
  align-items: flex-end;
  margin: 0;
  margin-top: auto;
}

.header__footer_address {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.reciepes {
  display: flex;
  flex-direction: column;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-color: #0a2750;
  color: #ffffff;
}

.recipes__title {
  max-width: 580px;
  margin-top: 100px;
  margin-left: 80px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
}

.recipes__subtitle {
  margin-top: 24px;
  margin-left: 80px;
  max-width: 438px;
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  margin-top: 80px;
  margin-bottom: 215px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  margin-top: 80px;
}

.recipes__iframe_video {
  display: flex;
  flex-direction: column;
}

.reciepes__iframe {
  width: 480px;
  height: 273px;
  border: 0;
}

.recipes__iframe_video:nth-of-type(2) {
  margin-left: 40px;
}

.recipes_video-caption {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}






}

}

}

}



 0;
}

}

}

}




}

}

}

}



